<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body id="body-logout">
    <div class="container mt-5" style="text-align: center; font-size: xx-large;">
        <h1 style="margin-top: 30%;">Sei stato disconnesso!</h1>
        <strong style="margin-top: 1%;">Verrai reindirizzato alla pagina principale tra 5 secondi...</strong>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "/";  
        }, 5000);
    </script>
</body>
</html>